@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 120px;
}

.logoContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}

.logoContainer img {
  width: 70px;
  height: 70px;
}

.logoTitle {
  font-size: 1.6rem;
  font-weight: 700;
  color: #222;
  letter-spacing: 1px;
}

.navMenu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.navLink {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: rgb(40, 40, 130);
}

.active {
  border-bottom: 1px solid rgb(40, 40, 130);
  padding: 0 0 10px;
}
